*{
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair', serif;}
:root{
    --font-title:'Montserrat', sans-serif;
    --font-subtitle:'Playfair', serif;
    --color-primary:#30078f;
    --color-secondary:#d5d0e0;
    --size-font-m:18px;
    --size-font-s:14px;
    --size-font-l:22px;
}

.article{ color: var(--color-primary);
          font-family:var(--font-title);
          font-size: var(--size-font-l);
          line-height: 200%;
          
          
          
}
.article p{ background-color: #d5d0e0;
           width: 25%;}
.article ol li{background-color: #d5d0e0;
               width: 25%;}

.title{ color: var(--color-primary);
        font-family: var(--font-subtitle);
        font-size: var(--size-font-l);
        width: 50%;
        height: 0%;
        float: right;
    }
    .title p {line-height: 200%;
              float: right; }

    .foot{ color: var(--color-secondary);
           font-family: var(--font-subtitle);
           font-size: var(--size-font-s);
           background-color: black;}
           
           body{background-color: black;}

*{margin: 0px;
  padding: 0px;
  box-sizing: border-box;}

  .header{ width: 100%;
          height: 50%;
          float: left;}
  
  .img01{ width: 100%;
              height: 20%;
            float: left;}
.img02{width: 25%;
       height: 25%;
       float: right;}



    